<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
    <title>login</title>
</head>
<body>
<div>
    <div class="row mt-3">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-header">login</div>
                <div class="card-body">
                    <div class="p-3">
                        <form th:action="@{/login}" method="post">
                            <div class="mb-2">
                                <label class="form-label">email</label>
                                <input type="text" name="username" class="form-control">
                                <span class="text-danger" th:errors="${user.email}"></span>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">password</label>
                                <input type="password" name="password" class="form-control">
                                <span class="text-danger" th:errors="${user.password}"></span>
                            </div>
                            <button class="btn btn-success">submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>