<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="iDaoImpl" class="org.example.dao.DaoImpl"/>
    <bean id="iMetierImpl" class="org.example.service.ServiceImpl">
        <constructor-arg type="org.example.dao.IDao" index="0" name="iDao" ref="iDaoImpl"/>
    </bean>
</beans>