<c-container>
    <div class="overlay" *ngIf="isLoading">
      <mat-spinner diameter="50"></mat-spinner>
    </div>

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Account Details
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <table cTable>
          <tr>
            <th>Id</th>
            <td>{{account.id}}</td>
          </tr>
          <tr>
            <th>Status</th>
            <td>
              <mat-form-field>
                <mat-select [(value)]="account.status">
                  @for (status of statusList; track status) {
                    <mat-option [value]="status" (click)="updateStatus(account.id, status)">{{status}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th>Type</th>
            <td>{{account.type}}</td>
          </tr>
          <tr>
            <th>Balance(DH)</th>
            <td>{{account.balance}}</td>
          </tr>
          <tr>
            <th>Customer</th>
            <td>{{account.customer.firstname + ' ' + account.customer.lastname}}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{account.customer.email}}</td>
          </tr>
          <tr>
            <th>Created date</th>
            <td *ngIf="account.createdAt; else naDisplay">{{account.createdAt}}</td>
            <ng-template #naDisplay><td>N/A</td></ng-template>
          </tr>
        </table>
      </mat-card-content>
      <mat-card-content>
        <c-row style="margin-top: 100px">
          <c-col>
            <mat-card-title style="  margin-top: 10px">
              <h2>Operations</h2>
            </mat-card-title>
          </c-col>
          <c-col *ngIf="!account.operations || account.operations.length < 1" style="margin-top: 100px; text-align: center">
            <mat-card-subtitle>
              This Account doesn't have any operations.
            </mat-card-subtitle>
          </c-col>
          <c-col>
            <div style="position: relative; float: right; margin-bottom: 10px;">
              <button mat-fab color="accent" matTooltip="Add new Operation" (click)="toggleLiveDemo()" >
                <mat-icon>add_circle</mat-icon>
              </button>
            </div>
          </c-col>
        </c-row>

        <div *ngIf="account.operations && account.operations.length >= 1">
          <table mat-table [dataSource]="datasource" #operationSort matSort  class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
              <td mat-cell *matCellDef="let element"> {{element.createdAt ? element.createdAt : 'N/A'}} </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
              <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            </ng-container>
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
              <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[2, 5, 10]"
                         showFirstLastButtons
                         #operationPaginator="matPaginator"
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">

      </mat-card-actions>
    </mat-card>
</c-container>


<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>New Operation</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="operationForm" cForm>
      <div class="mb-3">
        <label cLabel for="amount">Amount</label>
        <input cFormControl
               formControlName="amount"
               id="amount"
               placeholder="Amount"
               type="number"
               min="1"
               required
        />
      </div>
      <div class="mb-3">
        <label cLabel for="operationType">Type</label>
        <select aria-label="Default select example" formControlName="operationType" id="operationType" cSelect>
          <option disabled selected>operation type</option>
          <option value="CREDIT">CREDIT</option>
          <option value="DEBIT">DEBIT</option>
        </select>
      </div>
      <div class="mb-3">
        <label cLabel for="description">Description</label>
        <input cFormControl
               formControlName="description"
               id="description"
               placeholder="description..."
               type="text"
               required
        />
      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo()" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" type="submit" (click)="submitOperation()">Submit</button>
  </c-modal-footer>
</c-modal>
