<div class="p-3">
  <div class="card">
    <div class="card-header">
      Products
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <form [formGroup]="formGroup" (ngSubmit)="save()">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input class="form-control" type="text" formControlName="name">
            </div>
            <div class="mb-3">
              <label class="form-label">Price</label>
              <input class="form-control" type="number" min="1" formControlName="price">
            </div>
            <div class="mb-3">
              <label class="form-label">Checked</label>
              <input class="form-check-input" type="checkbox" formControlName="checked">
            </div>
            <div class="mb-3">
              <button class="btn btn-outline-success" type="submit" [disabled]="formGroup.invalid" >
                save
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>
</div>
