<c-container *ngIf="authService.isAdmin() | async">
  <c-row>
    <c-col lg="4" xs="12">
      <c-widget-stat-f
        [title]="'Number of Bank Accounts'"
        class="mb-3"
        color="primary"
        padding
        value="{{dashboard.totalAccounts}}"
      >
        <ng-template cTemplateId="widgetIconTemplate">
          <svg [cIcon]="cilList" size="xl" width="24"></svg>
        </ng-template>
      </c-widget-stat-f>
    </c-col>
    <c-col lg="4" xs="12">
      <c-widget-stat-f
        [title]="'Total Number of Customer'"
        class="mb-3"
        color="success"
        padding
        value="{{dashboard.totalCustomers}}"
      >
        <ng-template cTemplateId="widgetIconTemplate">
          <svg [cIcon]="cilPeople" size="xl" width="24"></svg>
        </ng-template>
      </c-widget-stat-f>
    </c-col>
    <c-col lg="4" xs="12">
      <c-widget-stat-f
        [title]="'Total Number of Operations'"
        class="mb-3"
        color="warning"
        padding
        value="{{dashboard.totalOperations}}"
      >
        <ng-template cTemplateId="widgetIconTemplate">
          <svg [cIcon]="cilTransfer" size="xl" width="24"></svg>
        </ng-template>
      </c-widget-stat-f>
    </c-col>
  </c-row>
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>
          <h4>Latest Customers created</h4>
        </c-card-header>
        <c-card-body>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead class="text-nowrap text-truncate">
            <tr>
              <th class="bg-body-tertiary text-center ">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th class="bg-body-tertiary">Customer</th>
              <th class="bg-body-tertiary text-center">Email</th>
              <th class="bg-body-tertiary">Roles</th>
              <th class="bg-body-tertiary">Activity</th>
            </tr>
            </thead>
            <tbody>
              @for (user of dashboard.customers; track user.email) {
                <tr>
                  <td class="text-center">
                    <c-avatar [size]="'md'" src="./assets/default.png" status="{{ user.status }}" />
                  </td>
                  <td>
                    <div>{{ user.firstname+ ' ' + user.lastname }}</div>
                    <div class="small text-body-secondary text-nowrap">
                  <span>
                     Registered: {{ user.createdAt }}
                  </span>
                    </div>
                  </td>
                  <td class="text-center">
                    {{user.email}}
                  </td>
                  <td>
                    {{getRoles(user.roles)}}
                  </td>
                  <td>
                    <div class="small text-body-secondary">Last login</div>
                    <div class="fw-semibold text-nowrap">N/A</div>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </c-card-body>
        <c-card-footer>
          <c-button-group>
            <button cButton color="info" routerLink="/customers">
              See more
            </button>
          </c-button-group>
        </c-card-footer>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>
          <h4>Latest accounts created</h4>
        </c-card-header>
        <c-card-body>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead class="text-nowrap text-truncate">
            <tr>
              <th class="bg-body-tertiary">
                Id
              </th>
              <th class="bg-body-tertiary">Type</th>
              <th class="bg-body-tertiary text-center">Status</th>
              <th class="bg-body-tertiary">Balance</th>
              <th class="bg-body-tertiary">CreatedAt</th>
            </tr>
            </thead>
            <tbody>
              @for (acc of dashboard.bankAccounts; track acc.id) {
                <tr>
                  <td class="text-center">
                    {{ acc.id }}
                  </td>
                  <td class="text-center">
                    {{ acc.type}}
                  </td>
                  <td>
                    {{ acc.status }}
                  </td>
                  <td class="text-center">
                    {{acc.balance}}
                  </td>
                  <td>
                    {{acc.createdAt}}
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </c-card-body>
        <c-card-footer>
          <c-button-group>
            <button cButton color="info" routerLink="/accounts">
              See more
            </button>
          </c-button-group>
        </c-card-footer>
      </c-card>
    </c-col>
  </c-row>
</c-container>
<c-container *ngIf="authService.isCustomer() | async">
  <c-row>
    <c-col lg="6" xs="12">
      <c-widget-stat-f
        [title]="'Total Accounts'"
        class="mb-3"
        color="primary"
        padding
        value="{{dashboard.totalAccounts}}"
      >
        <ng-template cTemplateId="widgetIconTemplate">
          <svg [cIcon]="cilMoney" size="xl" width="24"></svg>
        </ng-template>
      </c-widget-stat-f>
    </c-col>
    <c-col lg="6" xs="12">
      <c-widget-stat-f
        [title]="'Total Number of Operations'"
        class="mb-3"
        color="warning"
        padding
        value="{{dashboard.totalOperations}}"
      >
        <ng-template cTemplateId="widgetIconTemplate">
          <svg [cIcon]="cilTransfer" size="xl" width="24"></svg>
        </ng-template>
      </c-widget-stat-f>
    </c-col>
  </c-row>
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>
          Your Accounts
        </c-card-header>
        <c-card-body>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead class="text-nowrap text-truncate">
            <tr>
              <th class="bg-body-tertiary">
                Id
              </th>
              <th class="bg-body-tertiary">Type</th>
              <th class="bg-body-tertiary text-center">Status</th>
              <th class="bg-body-tertiary">Balance</th>
              <th class="bg-body-tertiary">CreatedAt</th>
            </tr>
            </thead>
            <tbody>
              @for (acc of dashboard.bankAccounts; track acc.id) {
                <tr>
                  <td class="text-center">
                    {{ acc.id }}
                  </td>
                  <td class="text-center">
                    {{ acc.type}}
                  </td>
                  <td>
                    {{ acc.status }}
                  </td>
                  <td class="text-center">
                    {{acc.balance}}
                  </td>
                  <td>
                    {{acc.createdAt}}
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>
          Your Operations
        </c-card-header>
        <c-card-body>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead class="text-nowrap text-truncate">
            <tr>
              <th class="bg-body-tertiary">Account</th>
              <th class="bg-body-tertiary">Type</th>
              <th class="bg-body-tertiary text-center">Amount</th>
              <th class="bg-body-tertiary">Description</th>
            </tr>
            </thead>
            <tbody>
              @for (acc of dashboard.operations; track acc.id) {
                <tr>
                  <td class="text-center">
                    {{ acc.accountId}}
                  </td>
                  <td>
                    {{ acc.type }}
                  </td>
                  <td class="text-center">
                    {{acc.amount}}
                  </td>
                  <td>
                    {{acc.description}}
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

</c-container>
